/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: left;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	height: 100%;
	line-height: 1;
	background-color: #FFFEF8;
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-weight: 400;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
 blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset css* */

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
.subtitle {
	font-family: 'Work Sans' ;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 10px;
}
section {
	margin: 100px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	justify-content: space-around;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	font-family: "Work Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
}

li a:hover{
	color: #000;
	font-weight: bold;
}

li a.active{
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #3D3D3D;
}

a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	width: 85%;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
	object-fit: contain;
}

#introduction article {
	flex: 1;
	font-weight: 500;
	max-width: 400px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.gallery figcaption {
	margin-top: 10px;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

input, select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filters {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.button_filters{
	width: initial;
	min-width: 100px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 18px;
	color: #1D6154;
	background-color: #FFFEF8;
	border: 1px;
	border-style: solid;
	border-color: #1D6154;
	border-radius: 20px;
	padding: 6px 10px 6px 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.filters button:hover{
	background-color: #1D6154;
	cursor: pointer;
	color: white;

}

.selected {
	background-color: #1D6154;
	color: white;

}

main{
	text-align: center;
	min-height: 500px;
}

.login {
	width: 30%;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	justify-content: space-around;
	text-align: center;
}

.login h2{
	color: #1D6154;
	font-weight: 700;
	margin-bottom: 50px;
}

.login span{
	font-family: 'Work Sans' ;
	font-size: 14px;
	text-align: left;
	color: #3D3D3D;
	margin-bottom: 5px;
	font-weight: bold;
}

.login input{
	font-size: 22px;
	margin-bottom: 20px;
}

.login a{
	font-weight: bold;
	color: #3D3D3D;
	text-align: center;
}

.loginInfo {
	color: red;
	text-align: center;
}

.modaleProjets {
	width: 80%;
	font-family: 'Work Sans';
	font-weight: 600;
	color:#3D3D3D;
	font-size: 16px;
	margin-left: 20px;
}

.headermodale {
	cursor: pointer;
	background-color: black;
	width: 100%;
	height: 59px;
	text-align: center;
	vertical-align: middle;
	line-height: 57px;
	font-family: 'Work Sans';
	font-weight: 600;
	color:white;
	font-size: 16px;
}

.headermodale a {
	margin-top: auto;
	color:white;
	font-family: 'Work Sans';
	font-weight: 500;
}

.modale_container{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	justify-content: center;
	align-items: center;
}

.modalePopup{
	display: none;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-width: 400px;
	width: 26%;
	border-radius: 20px;
	background-color: white;
	justify-content: center;
	align-items: center;
}

.modalePopup h2{
	font-family: 'Work Sans';
	font-weight: 500;
	color: #000;
}

#hideModale, #hideModale a{
	float: right;
	margin-right: 0;

}

.modaleTitle {
	font-size: 26px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 20px;
}

#returnModale1, #returnModale1 a{
	margin-left: 0;
}

#modaleProjets {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: center;
	width: 95%;
	gap: 10px
}

#modaleProjets figure{
	width: 76px;
}

#modaleProjets img{
	object-fit: scale-down;
	width: 100%;
}

.modaleProjetsIcons {
	cursor: pointer;
	position: relative;
	top:25px;
	left: calc(100% - 25px);
	width: 20px;
	height: 20px;
	text-align: center;	
	line-height: 20px;	
	font-size: 0.8em;
	color: white;
	background-color: black;
	border-radius: 3px;
}

hr{
	box-sizing: border-box;
  	border: 0 none transparent;
	margin-top: 40px;
	width: 100%;
	border-top: 1px solid lightgrey;
	
}

input[type="submit"]{
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 500;
	height: 36px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;

}

input[type="submit"]:hover{
	background-color: #3D3D3D;
}


footer {
	vertical-align: middle;
	width: 100%;
	height: 60px;
	background-color: #fff;
	bottom: 0;
}

footer ul{
	height: 60px;
	margin-top: auto;
	margin-bottom: auto;
}
#displayModale1, #displayModale2 {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	justify-content: center;
	align-items: center;
	max-width: 445px;
}


#catPhoto, #titrePhoto {
	box-sizing: border-box;
	font-weight: bold;
	width: 100%;
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 20px;
}

#displayModale2 input, #displayModale2 select{
	width: 90%;
}

#displayModale2 input[type=file]{
	display: none;
}

#uploadPhoto {
	margin-top: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 180px;
	background-color: #E8F1F6;
	align-items: center;
}

#uploadPhoto label{
	cursor: pointer;
	font-size: 14px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}


#btnAddphoto{
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Work Sans';
	color: #306685;
	font-size: 14px;
	font-weight: 600;
	padding: 5px;
	background: #CBD6DC;
	text-align: center;
	line-height: 16px;
	border-radius: 50px ;
	width: 170px;
	justify-content: center;
}

#textAddphoto{
	font-size: 12px;
}


#svg-uploadPhoto{
	color: #CBD6DC;
	width: 76px;
	height: 76px;
}

.headerPopup {
	box-sizing:border-box;
	width:100%;
	padding: 30px;
	vertical-align: middle;
}

.headerPopup i{
	font-size: x-large;
	font-weight: bold;
}

#displayModale2 input[type=submit]{
	width: 40%;
}

#displayModale2 input[type=submit]:disabled{
	background-color: #CCC;
}

#labelUploadPhoto{
	height:100%;
	display:flex;
	flex-direction: column;
	padding:0;
	margin:0;
	border: none;
}

#uploadProject {
	box-sizing:border-box;
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:0;
	margin:0;
	border: none;
}



